{% load static %}

<!-- Diseño del contenido de sección -->
<section class="contact" id="contactos">
    <h2 class="heading">Contacta <span>Conmigo!</span></h2>

    <form method="POST" id="contactForm">
        {% csrf_token %}

        <div class="input-box">
            <input type="text" placeholder="Nombre Completo" name="name" required>
            <input type="email" placeholder="Correo electronico" name="email" required>
        </div>

        <div class="input-box">
            <input type="number" placeholder="Telefono celular" name="phone" required>
            <input type="text" placeholder="Asunto del correo" name="subject" required>
        </div>

        <textarea name="message" cols="30" rows="30" placeholder="Dejanos tu mensaje" required></textarea>

        <input type="submit" value="Enviar mensaje" class="btn">
    </form>
</section>

<script src="{% static "js/contact.script.js" %}"></script>