{% load static %}
<!-- Diseño del contenido de sección -->
<section class="home" id="inicio">
    <div class="home-content">
        <h3>Hola, bienvenido a mi portafolio</h3>
        
        <h1>Nicolás Paulo Vega</h1>
        
        <h3>Soy <span class="multiple-text"></span></h3>
        
        <p>Apasionado por el desarrollo de software y la creación de soluciones digitales. Me enfoco en construir aplicaciones funcionales, escalables y con una experiencia de usuario clara, siempre buscando aprender nuevas tecnologías y mejorar mis habilidades.</p>
            
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=100078498640961"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/nicopaulovega/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://github.com/Nico-programmer"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/nicolas-paulo-vega-73365928b/"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>

        <a href="{% static "doc/NicolasPauloVega.pdf" %}" class="btn">Descargar CV</a>
    </div>

    <div class="home-img">
        <img src="{% static "img/me.png" %}" alt="">
    </div>
</section>